
.main-header-container {
    position: relative;
    top: 0;
    width: 100%;
    // margin-top: 20px;
    z-index: 1000;
    // background-color: blue;
    height: 50px;
    .site-name-logo {
        color: white;
    }
    
    .main-nav-items-container {
        list-style-type: none;
        .nav-item {
            display: inline-block;
            a {
                color: white;
            }
        }
    }

    .icon-video-player {
        font-size: 50px;
    }

    .site-name {
        height: fit-content;
        font-size: 25px ;
    }
}

.navbar {
    
    transition: background 1s;

    .icon-menu {
        color: white;
    }

    .navbar-toggler {
        border: 0;
        &:focus {
            outline: none;
        }
    }

    .navbar-collapse {
        flex-grow: unset;
    }

    .navbar-collapse {
        &.opened {
            display: block;
        }
    
        &.closed {
            display: none;
        }
    }
    
    .navbar-brand {
        display: flex;
        color: white;
        font-family: 'QuickSand-Bold';
        text-transform: uppercase;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
    
    .navbar-nav {
        .nav-link {
            color: white;
            cursor: pointer;
            font-family: 'QuickSand-SemiBold';
        }
    }

    &.opened {
        background: #212529;
    }

    &.closed {
        background: transparent;
    }
}

@media screen and (max-width: 400px) {
    .site-name {
        font-size: 18px !important;
    }

    .navbar-brand, .navbar-collapse  {
        padding: 0;
    }
}