.person-profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px 3px #dedede;
}

.cast-title {
    font-family: 'QuickSand-Bold';
}

.person-name {
    text-align: center;
    font-family: 'QuickSand-SemiBold';
}