
.movie-detail-summary-container {

    border: 1px solid gainsboro;
    padding: 20px;

    .single-info {
        border-bottom: 1px dashed gainsboro;
        padding: 10px 0;
        &:last-child {
            border-bottom: 0;
        }

        .key {
            // font-size: 20px;
            font-weight: bold;
        }
    }
    
}
