<div class="movies-search-container">
    <div class="main-banner row mx-0 align-items-center">
        <div class="banner-content">
            <p class="main-title" *ngIf="!movieName">Popular Movies</p>
            <p class="search-keywords" *ngIf="movieName">Search results for: {{movieName}}</p>
        </div>
    </div>
    <div class="row mx-0 my-5 justify-content-center" *ngIf="movieName">
        <div class="col-12 col-lg-6">
            <app-search-bar
                placeholder = 'Search for movies'
                [(ngModel)]="movieName"
                [inputMaxLength]="maxStringLength"
                (onSearch)="search($event)">
            </app-search-bar>
        </div>
    </div>
    <div class="movies-list px-2" *ngIf="moviesPagedList && moviesPagedList.results.length > 0">
        <app-movies-list 
            [moviesData]="moviesData"
            [currentPage]="currentPage"
            [pageSize]= "moviesPagedList.total_results / moviesPagedList.total_pages"
            [totalRecords]= "moviesPagedList.total_results"
            (pageChanged)= "onPageChange($event)"
            (itemClicked)= "onMovieItemSelection($event)"></app-movies-list>
    </div>
    
    <div class="no-data-found-container row mx-0 justify-content-center align-items-center"  *ngIf="!isLoading && !moviesPagedList || (moviesPagedList && moviesPagedList.results.length === 0)">
        <span class="icon-error col-auto px-0"></span>
        <span class="error-msg col-auto">No data found</span>
    </div>

</div>