<div class="home-controller">
    <div class="home-banner">
        <div class="dotted-layer"></div>
        
        <div class="home-banner-content row mx-0 justify-content-center align-items-center align-content-center">
            <div class="col-12 slogan">
                <h1>
                    Start Watching Now
                </h1>
            </div>
            <div class="col-12 col-sm-10 col-md-6 px-2 px-sm-0">
                <app-search-bar
                    placeholder = 'Search for movies'
                    [(ngModel)]="searchValue"
                    (onSearch)="search()">
                </app-search-bar>
            </div>
        </div>
    </div>
</div>